{% extends 'fanta_soccer_app/base.html'%}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}
{% block content%}

<div class="container-fluid">
    <div class="row">
    <form  class="mx-auto col-sm-4 mt-4" action="" method="post">
    <div class="form-group">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
    <button class="btn btn-secondary" type="submit">LogIn</button>
    </div>
    </div>
    </form>
</div>
{% endblock %}